@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
        <style>
        .button-login {
            width: 120px;
            height: 45px;
            background-color: #8B92D0;
            font-size: 20px;
            color: white;
            position: absolute;
            top: 10px;
            left: 820px;
            border-radius: 10px;
        }

        .link-about-us {
            position: absolute;
            top: 18px;
            left: 720px;
            font-size: 20px;
        }

        .link-product-features {
            position: absolute;
            top: 18px;
            left: 500px;
            font-size: 20px;
        }

        .title-event-planner {
            position: absolute;
            top: 13px;
            left: 65px;
            font-size: 25px;
        }

        .description-event-planner {
            position: absolute;
            top: 135px;
            left: 450px;
            font-size: 35px;
            font-family: 'Segoe UI', sans-serif;
        }

        .text-plan {
            position: absolute;
            top: 525px;
            left: 50px;
            font-size: 32px;
            font-family: 'Segoe UI', sans-serif;
        }

        .text-create {
            position: absolute;
            top: 470px;
            left: 880px;
            font-size: 32px;
            font-family: 'Segoe UI', sans-serif;
        }
    </style>

    <div id="Grid_First_Page">
    </div>
</body>
</html>

<script runat="server">
    
    void Page_Load(Object sender, EventArgs e)
    {
        // Manually register the event-handling method for
        // the Click event of the Button control.
        Login.Click += new EventHandler(this.GreetingBtn_Click);
    }

    void GreetingBtn_Click(Object sender,
                           EventArgs e)
    {
        // When the button is clicked,
        // change the button text, and disable it.

        Button clickedButton = (Button)sender;
        clickedButton.Text = "...button clicked...";
        clickedButton.Enabled = false;
        
        // Display the greeting label text.
        GreetingLabel.Visible = true;
    }

</script>