<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід в систему</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin-top: 50px;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
        }

        .card h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card label {
            display: block;
            margin-top: 10px;
        }

        .card input[type="text"],
        .card input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .card button {
            display: block;
            width: 100%;
            padding: 10px 0;
            margin-top: 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .card button:hover {
            background-color: #2980b9;
        }

        .register-link {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            color: #3498db;
        }

        .register-link:hover {
            color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>Вхід в систему</h1>
        <form id="loginForm">
            <label for="email">Електронна пошта:</label>
            <input type="text" id="email" placeholder="Введіть вашу електронну пошту" />

            <label for="password">Пароль:</label>
            <input type="password" id="password" placeholder="Введіть ваш пароль" />

            <button type="button" onclick="login()">Увійти</button>
        </form>

        <a href="register" class="register-link">Зареєструватися</a>
    </div>

    <script>
        async function login() {
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            const data = {
                Email: email,
                Password: password
            };

            try {
                const response = await fetch('/api/account/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    // Обробка успішної відповіді
                    alert('Успішний вхід!');
                    window.location.href = '/api/recipe';
                } else {
                    // Обробка помилки
                    alert('Помилка входу');
                }
            } catch (error) {
                console.error('Виникла помилка:', error);
                alert('Виникла помилка при відправці запиту');
            }
        }
    </script>
</body>
</html>

